body {
	font-family: 'Roboto', sans-serif;
}

#assignment_title {
	text-align: center; 
	font-size: 48px; 
	font-weight: bold;
}

#container {
	position:absolute;
}

.container {
	width: 300px;
	height: 400px;
	position: relative;
	text-align:center;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.perspective {
	-webkit-perspective: 1900px;
	-moz-perspective: 1900px;
	-o-perspective: 1900px;
	perspective: 1900px;
}      

#transition1 {
	position:absolute;
	/* Changed the left and top positions */
	left:700px;
 	top:10px;
}

.card {
	z-index: 1;
	/*background-color: #5088dc;
	background-color: #ffffff;*/
	background: #ffffff; 
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 6%, #f4f4d4 50%, #f9f9b1 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(6%,#ffffff), color-stop(50%,#f4f4d4), color-stop(100%,#f9f9b1)); 
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 6%,#f4f4d4 50%,#f9f9b1 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 6%,#f4f4d4 50%,#f9f9b1 100%);
	background: radial-gradient(ellipse at center,  #ffffff 6%,#f4f4d4 50%,#f9f9b1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9b1',GradientType=1 ); 
	position: absolute;
	width: 99%;
	height: 99%;
	border:1px solid;
	border-radius: 4px;
	box-shadow: 2px 2px 2px;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card > p { 
	display: table-cell; 
	height: 400px; 
	vertical-align: middle; 
	text-align: center; 
	width: 300px;
	font-size: 32px;
	/*-moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;*/
}


.cardBorder {
	position: absolute;
	width: 100%;
	height: 100%;
	top:30%;
	border:0px dotted;
  border-radius:0 0 4px 4px;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.easeAll2sec {
	-webkit-transition:all 2s;
	-moz-transition:all 2s;
	-o-transition:all 2s;
	transition:all 2s;
	/* Added this line of origin */
	transform-origin: top left;
	-webkit-transform-origin:top left;
}

.flip {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}